{{ if .Site.Params.github_url }}
    <a target="_blank" class="social" title="GitHub" href="{{ .Site.Params.github_url }}">
        <i class="fa-brands fa-github" aria-hidden="true"></i>
    </a>
{{ end }}
{{ if .Site.Params.linkedin_url }}
    <a target="_blank" class="social" title="LinkedIn" href="{{ .Site.Params.linkedin_url }}">
        <i class="fa-brands fa-linkedin" aria-hidden="true"></i>
    </a>
{{ end }}
{{ if .Site.Params.instagram_url }}
    <a target="_blank" class="social" title="Instagram" href="{{ .Site.Params.instagram_url }}">
        <i class="fa-brands fa-instagram" aria-hidden="true"></i>
    </a>
{{ end }}
{{ if .Site.Params.steam_url }}
    <a target="_blank" class="social" title="Steam" href="{{ .Site.Params.steam_url }}">
        <i class="fa-brands fa-steam" aria-hidden="true"></i>
    </a>
{{ end }}
{{ if .Site.Params.rss_icon }}
    <a target="_blank" class="social" title="RSS Feed" href="/{{ if .Site.Params.rss_section }}{{ .Site.Params.rss_section }}/{{ end }}index.xml">
        <i class="fa-solid fa-rss" aria-hidden="true"></i>
    </a>
{{ end }}
{{ if .Site.Params.letterboxd_url }}
    <a target="_blank" class="social" title="Letterboxd" href="{{ .Site.Params.letterboxd_url }}">
        <i class="fa-solid fa-film" aria-hidden="true"></i>
    </a>
{{ end }}
{{ if .Site.Params.bgg_url }}
    <a target="_blank" class="social" title="BoardGameGeek" href="{{ .Site.Params.bgg_url }}">
        <i class="fa-solid fa-puzzle-piece" aria-hidden="true"></i>
    </a>
{{ end }}
