$body-color: #515151;
$white: #ffffff;
$lightgray: #fafafa;
$gray: #9ebec3;
$dark-gray: #a0a0a0;
$dark-blue: #263959;
$dark: #333030;
$menu-bar-text: rgba(255, 255, 255, 0.5);
$shrieking-green: #0b4912;
$shadow: rgba(0, 0, 0, 0.2);
/* Requires open sans from google fonts */
$sidebar-font-family: Open Sans, Oxygen, Ubuntu, Roboto, Cantarell, sans-serif;
$post-font-family: Open Sans, sans-serif;

